:root {
    --primary: white;
    --secondary: #719ED4;
    --background: #eaf4ff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background);
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    box-shadow: 0 2px 20px var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
    z-index: 1000;
}
header .logo {
    font-size: 20px;
    color: var(--secondary);
    font-weight: bolder;
}
header .logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
header .navbar ul {
    list-style: none;
}
header .navbar li {
    position: relative;
    float: inline-start;
}
header .navbar li a {
    font-size: 20px;
    padding: 35px;
    display: block;
    color: var(--secondary);
    font-weight: bolder;
}
header .navbar li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
header .navbar li a:hover > i{
    transform: rotate(0deg);
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: auto;
    background-color: var(--primary);
    display: none;
    box-shadow: 0 2px 20px var(--secondary);
    border-radius: 0 0 10px 10px;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bars {
    display: none;
}
header label {
    cursor: pointer;
    display: none;
}
.logged{
    padding: 20px;
    text-align: center;
}
.logged p{
    color: var(--secondary);
    margin-bottom: 5px;
}
.logged a {
    padding: 0 !important;
}
.logged a button{
    border: 2px solid var(--secondary);
    background-color: #719dd436;
    color: var(--secondary);
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    transition: 0.15s;
    box-shadow: 0px 5px var(--secondary);
    font-weight: 500;
}
.logged a button:hover {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 5px #5a7ca7;
}
#container {
    display: grid;
    min-height: 86.5vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.025fr 1fr;
    grid-template-areas: 
        "title"
        "info";
    padding: 20px;
}
 #info {
    display: flex;
    flex-wrap: wrap;
    grid-area: info;
 }
 #info table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
 }
 #title {
    grid-area: title;
    color: var(--secondary);
    font-size: 30px;
    justify-content: center;
    display: flex;
 }
 #info table th {
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    text-align: left;
    padding: 10px;
 }
 #info table tr {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
 }
 #info table td {
    border: 1px solid var(--secondary);
    padding: 10px;
 }

@media(max-width:1270px) {
    header {
        padding: 25px;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background: #eaf4ff;
    }
    #menu-bars:checked ~ .navbar {
        display: initial;
    }
    .logged {
        text-align:initial;
        padding: 35px;
    }
}
@media(max-width: 550px) {
    header .logo img {
        height: 60px;
        width: 60px;
    }
}
@media(max-width: 450px) {
    #title {
        font-size: 20px;
    }
    #info table tr{
        font-size: 10px;
        padding: 2px;
    }
    #info table td{
        font-size: 10px;
        padding: 2px;
    }
    #info table th{
        font-size: 10px;
        padding: 2px;
    }
}

  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(165, 165, 165);
    border-radius: 7.5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 7.5px;
  }