:root {
    --primary: white;
    --secondary: #719ED4;
    --background: #eaf4ff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--background);
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    box-shadow: 0 2px 20px var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
    z-index: 1000;
    margin-bottom: 20px;
}
header .logo {
    font-size: 20px;
    color: var(--secondary);
    font-weight: bolder;
}
header .logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
header .navbar ul {
    list-style: none;
}
header .navbar li {
    position: relative;
    float: inline-start;
}
header .navbar li a {
    font-size: 20px;
    padding: 35px;
    display: block;
    color: var(--secondary);
    font-weight: bolder;
}
header .navbar li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
header .navbar li a:hover > i{
    transform: rotate(0deg);
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: auto;
    background-color: var(--primary);
    display: none;
    box-shadow: 0 2px 20px var(--secondary);
    border-radius: 0 0 10px 10px;
}
header .navbar ul li ul li{
    width: 100%;
}
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bars {
    display: none;
}
header label {
    cursor: pointer;
    display: none;
}
.logged{
    padding: 20px;
    text-align: center;
}
.logged p{
    color: var(--secondary);
    margin-bottom: 5px;
}
.logged a {
    padding: 0 !important;
}
.logged a button{
    border: 2px solid var(--secondary);
    background-color: #719dd436;
    color: var(--secondary);
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    transition: 0.15s;
    box-shadow: 0px 5px var(--secondary);
    font-weight: 500;
}
.logged a button:hover {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 5px #5a7ca7;
}
.current_page {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--secondary);
}
#employee-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
}
.navbar .proklik{
    background-color: transparent;
    border: none;
    margin: 0;
    font-size: 20px;
    padding: 35px;
    display: block;
    color: var(--secondary);
    font-weight: bolder;
    text-align: left;
}
.navbar form {
    background-color: #eaf4ff;
}
.navbar form .proklik{
    width: 100%;
}
.navbar form .proklik li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border-bottom: none;
    cursor: pointer;
}
.container {
    overflow-x: auto;
    overflow-y: auto;
}
.container .table-head th{
    text-align: center;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
}
.container .table-body td{
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    text-align: center;
    padding: 10px;
}
.container .add-btn {
    padding: 10px 30px;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.15s;
    box-shadow: 0px 5px #5a7ca7;
    transition: 0.5s;
}
.container .add-btn:hover {
    cursor: pointer;
    background-color: #7dade9;
    color: var(--primary);
}
.container .uprava-btn {
    padding: 10px 30px;
    background-color: rgb(78, 193, 78);
    color: var(--primary);
    border: none;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.15s;
    box-shadow: 0px 5px rgb(61, 150, 61);
    transition: 0.5s;
}
.container .uprava-btn:hover {
    cursor: pointer;
    background-color: rgb(67, 162, 67);
    color: var(--primary);
}
.container .delete-btn {
    padding: 10px 30px;
    background-color: rgb(235, 81, 81);
    color: var(--primary);
    border: none;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.15s;
    box-shadow: 0px 5px #a14242;
    transition: 0.5s;
}
.container .delete-btn:hover {
    cursor: pointer;
    background-color: rgb(205, 70, 70);
    box-shadow: 0px 5px #853636;
}
.container .dokument-btn {
    padding: 10px 30px;
    background-color: rgb(57, 88, 223);
    color: var(--primary);
    border: none;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.15s;
    box-shadow: 0px 5px rgb(51, 69, 148);
    transition: 0.5s;
}
.container .dokument-btn:hover {
    cursor: pointer;
    background-color: rgb(52, 80, 206);
    box-shadow: 0px 5px rgb(43, 58, 124);
}
#search {
    padding: 10px 20px;
    border: 3px solid var(--secondary);
    border-radius: 25px;
    font-size: 20px;
    transition: 0.15s;
    display: flex;
    margin: 0 20px 0 auto;
    background-color: var(--primary);
}

@media(max-width:1263px) {
    header {
        padding: 25px;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background: #eaf4ff;
    }
    #menu-bars:checked ~ .navbar {
        display: initial;
    }
    .logged {
        text-align:initial;
        padding: 35px;
    }
}
@media(max-width: 550px) {
    header .logo img {
        height: 60px;
        width: 60px;
    }
    #search {
        padding: 10px 15px;
        font-size: 15px;
    }
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(165, 165, 165);
    border-radius: 7.5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 7.5px;
  }